<div class="center landing">
    <img id = "elderly" src="/images/elderly.jpg" alt = "smiley face">
    <div id="l_text_box">
        <div id="words">
            <h4 class="description bold">Welcome to the At Risk website for the City of Orinda Police Department!</h2>
            
            <p class = "description"> 
            In an effort to assist the community with any individual who has the potential to walk away from their home or care 
            facility, we have created forms to assist law enforcement in the event this were to occur.  
            The forms ask very comprehensive questions law enforcement needs to assist them in the immediate search of a missing person.  The forms also allow the user to upload photographs.  Please provide the most recent photograph when completing the form.  After a simple login process, you can select the appropriate form and answer the questions which are all voluntary. 
            If you have any questions or comments please call the Orinda Police Department at 925-254-6820.</p>         
        </div>
        <div class="buttons">
            <a href="/users/sign_in" class="button">Log In</a>
            <a href="/users/sign_up" class="button">Sign Up</a>
        </div>
        <p> Developed by Team BananaBomb @UC Berkeley for Orinda PD</br>All Rights Reserved &copy;</p>
        <img id = "logo" src="/images/logo.jpg">
    </div>
</div>


