<div class="container-fluid">  
  <div class="row home">
      <div class="col-md-12 splash">
          <a href="#">
              <div class="intro"><h1>Welcome to At Risk!</h1></div>
              <p class = "desription"> Every year some residents in the City of Orinda walk away from their homes and caring facilities. 
              A digital record of these people could greatly help our police officers in organizing searches for these people who go missing. </p> 
              <p class = "desription">If you are a family member, friend, or caregiver to such a person, please use At Risk. </p>
              <a href="/users/sign_in">Log In</a><br/>
              <a href="/users/sign_up">Register</a><br/>
              <button type="button" class="btn btn-default CTA">Click here</button>
              <div class="sub">
                  <p>Made with lots of love and care by Orinda Police Department.</p>
              </div>
          </a>
      </div>
  </div>
</div>