<h2> Welcome to the At Risk website for the City of Orinda Police Department.</h2>
<h2 style="font-size:13px"> In an effort to assist the community with any individual who has the potential to walk away from their home or care facility, we have created forms to assist law enforcement in the event this were to occur.  The forms ask very comprehensive questions law enforcement needs to assist them in the immediate search of a missing person. </h2>
<h2 style="font-size:13px"> The forms also allow the user to upload photographs.  Please provide the most recent photograph when completing the form. </h2>
<h2 style="font-size:13px"> After a simple login process, you can select the appropriate form and answer the questions which are all voluntary.  If you have any questions or comments please call the Orinda Police Department at 925-254-6820. </h2>
<br/>
<a href="/users/sign_in">Log In</a><br />
<a href="/users/sign_up">Register</a><br />