<div class="center landing">
    <img id = "elderly" src="/images/elderly.jpg" alt = "smiley face">
    <div id="l_text_box">
        <div id="words">
            <p class = "desription"> &emsp; Every year in the City of Orinda, residents with Alzheimer's, dementia, or Down Syndrom walk away from their homes or caring facilities. </p>
            <p class = "desription"> &emsp; "At Risk" is a online profile system to help our police officers in organize searches when somebody goes missing. </p> 
            <p class = "desription"> &emsp; If you are a family member, friend, or caregiver to such a person, please give "At Risk" a try to help our police officers organize searches. </p>
        </div>
        <div class="buttons">
            <a href="/users/sign_in" class="button">Log In</a>
            <a href="/users/sign_up" class="button">Sign Up</a>
        </div>
        <p> Made by Team BananaBomb @UC Berkeley for Orinda PD</br>All Rights Reserved &copy;</p>
        <img id = "logo" src="/images/logo.jpg">
    </div>
</div>