
.center {
  text-align: center;
}

.desription {
    font-size: 14px;
    margin: 10px 300px;
    text-align: left;
}

#l_text_box {
    padding: 0px 10px 40px;
}


a.button {
    text-decoration: none;
    color: white;
    border-radius: 4px;
    background: rgb(66, 184, 221); 
    padding: 13px 18px;
}

a.button:hover {
    text-decoration: none;
}

#words {
    padding: 20px 20px;
}

.buttons {
    padding: 5px 20px 40px;
}

#elderly {
  max-height:300px;
  width: auto;
}