<p id="notice"><%= notice %></p>

<p>
  <strong>Attachments:</strong>
  <% @test.test_attachments.each do |p| %>
    <div>
      <%= image_tag p.attachment_url %>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
