<!--!!!-->
<!--%html-->
<!--  %head-->
<!--    %title AtRisk | Orinda PD-->
<!--    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true-->
<!--    = javascript_include_tag 'application', 'data-turbolinks-track' => true-->
<!--    = csrf_meta_tags-->

<!--  %body{:class => "validate-form"}-->
<!--    = render 'devise/sessions/loginstat'-->
<!--    - if flash[:notice]-->
<!--      #notice.message= flash[:notice]-->
<!--    - elsif flash[:warning]-->
<!--      #warning.message= flash[:warning]-->
<!--    %h1.title <a href="/forms">At Risk | Orinda PD</a>-->
<!--    #main-->
<!--      = yield-->
      
<!DOCTYPE html>
<html>
  <head>
    <title>AtRisk | Orinda PD</title>
    <%= stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="validate-form">
    <%= render 'devise/sessions/loginstat' %>
    <% if flash[:notice] %>
      <div class="message" id="notice">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:warning] %>
      <div class="message" id="warning">
        <%= flash[:warning] %>
      </div>
    <% end %>
    <h1 class="title"><a href="/forms">At Risk | Orinda PD</a></h1>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
