<!DOCTYPE html>
<html>
  <head>
    <title>AtRisk | Orinda PD</title>
    <%= stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="validate-form">
    <div id="main">
      <div class="nav-bar">
        <ul id="list-nav">
          <li><a href="/forms">At Risk | Orinda PD</a></li>
          <li><% if user_signed_in? %>
    			  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
    		  <% end %></li>
    		  
    		  <li><% if user_signed_in? %>
    			 <%= link_to('Edit Account', edit_user_registration_path) %> 
    		  <% end %></li>
        </ul>
      </div>
      <%= yield %>
      
      <div class="center">
        <%= render 'devise/sessions/loginstat' %>
        <% if flash[:notice] %>
        <div class="message" id="notice">
          <%= flash[:notice] %>
        </div>
        <% elsif flash[:warning] %>
        <div class="message" id="warning">
          <%= flash[:warning] %>
        </div>
      </div>
      
    <% end %>
    </div>
  </body>
</html>
